@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&display=swap');

:root {
	// Colors
	--text-color: var(--var-color-primaryLighter);
	--body-backgroundColor: var(--var-color-neutralGray);
	--body-textColor: var(--var-color-primaryDarker);
	--body-textColorLight: var(--var-color-primaryLighter);

	--var-color-neutralWhite: hsl(0, 0%, 100%);
	--var-color-neutralGray: hsl(212, 45%, 89%);
	--var-color-primaryLighter: hsl(220, 15%, 55%);
	--var-color-primaryDarker: hsl(218, 44%, 22%);

	// Spacing
	--var-spacing-3xs: 0.25rem;
	--var-spacing-2xs: 0.5rem;
	--var-spacing-xs: 0.75rem;
	--var-spacing-s: 1rem;
	--var-spacing-m: 1.25rem;
	--var-spacing-l: 1.5rem;
	--var-spacing-xl: 3rem;
	--var-spacing-2xl: 3.5rem;
	--var-spacing-3xl: 4rem;
	--var-spacing-4xl: 7rem;
	--var-spacing-5xl: 9rem;

	// Typography
	// Global
	--primary-font: var(--var-font-family);

	--var-font-regular: 'Outfit';
	--var-font-family: var(--var-font-regular), sans-serif;
	--var-font-family-monospace: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

	// Font Size
	--font-base: var(--var-font-mobile-m);
	--font-desktop-base: var(--var-font-desktop-m);

	--var-font-desktop-2xs: 0.75rem;
	--var-font-desktop-xs: 0.875rem;
	--var-font-desktop-s: 1rem;
	--var-font-desktop-m: 1.125rem;
	--var-font-desktop-l: 2rem;
	--var-font-desktop-xl: 4rem;

	--var-font-mobile-2xs: 0.625rem;
	--var-font-mobile-xs: 0.75rem;
	--var-font-mobile-s: 0.875rem;
	--var-font-mobile-m: 1rem;
	--var-font-mobile-l: 2rem;
	--var-font-mobile-xl: 3.25rem;

	// Line Height
	--line-height-base: var(--var-line-height-regular);

	--var-line-height-regular: 1.5;
	--var-line-height-heading-small: 1.25;
	--var-line-height-heading-big: 1.125;

	// Font Weight
	--font-weight-base: var(--var-font-weight-regular);

	--var-font-weight-light: 300;
	--var-font-weight-regular: 400;
	--var-font-weight-medium: 500;
	--var-font-weight-semiBold: 600;
	--var-font-weight-bold: 700;
	--var-font-weight-black: 900;

	// Z-Index
	--var-z-index-10: 10;
	--var-z-index-100: 100;
}
